<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SQLConnectionString" connectionString="Data Source=DESKTOP-HBVKN8A;Initial Catalog=NepalHajjCommittee;Persist Security Info=True;User ID=sa;Password=password@1" />
    <add name="NepalHajjCommitteeConnectionString" connectionString="metadata=res://*/Database.EDMX.DBEntityModel.csdl|res://*/Database.EDMX.DBEntityModel.ssdl|res://*/Database.EDMX.DBEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-HBVKN8A;initial catalog=NepalHajjCommittee;persist security info=True;user id=sa;password=password@1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>